<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.hillfog.mapper.HfPdcaItemMapper">

  <resultMap id="BaseResultMap" type="org.qifu.hillfog.entity.HfPdcaItem">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="PDCA_OID" jdbcType="CHAR" property="pdcaOid" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="PARENT_OID" jdbcType="CHAR" property="parentOid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="START_DATE" jdbcType="VARCHAR" property="startDate" />
    <result column="END_DATE" jdbcType="VARCHAR" property="endDate" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.hillfog.mapper.DB1Config.schema"/>hf_pdca_item
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.hillfog.mapper.DB1Config.schema"/>hf_pdca_item
    WHERE 1=1
	<if test="pdcaOid != null and pdcaOid != ''.toString() ">
		AND PDCA_OID = #{pdcaOid,jdbcType=CHAR}
	</if>			
	<if test="name != null and name != ''.toString() ">
		AND NAME = #{name,jdbcType=VARCHAR}
	</if>
	<if test="nameLike != null and nameLike != ''.toString() ">
		AND NAME like #{nameLike,jdbcType=VARCHAR}
	</if>			
	<if test="type != null and type != ''.toString() ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>			
	<if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
		ORDER BY  ${orderBy} ${sortType}
	</if>	
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.hillfog.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.hillfog.mapper.DB1Config.schema"/>hf_pdca_item
    WHERE 1=1
	<if test="pdcaOid != null and pdcaOid != ''.toString() ">
		AND PDCA_OID = #{pdcaOid,jdbcType=CHAR}
	</if>		
	<if test="name != null and name != ''.toString() ">
		AND NAME = #{name,jdbcType=VARCHAR}
	</if>
	<if test="nameLike != null and nameLike != ''.toString() ">
		AND NAME like #{nameLike,jdbcType=VARCHAR}
	</if>			
	<if test="type != null and type != ''.toString() ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>	
			
	<include refid="org.qifu.hillfog.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.hillfog.mapper.DB1Config.schema"/>hf_pdca_item
    WHERE 1=1
	<if test="pdcaOid != null and pdcaOid != ''.toString() ">
		AND PDCA_OID = #{pdcaOid,jdbcType=CHAR}
	</if>		
	<if test="name != null and name != ''.toString() ">
		AND NAME = #{name,jdbcType=VARCHAR}
	</if>
	<if test="nameLike != null and nameLike != ''.toString() ">
		AND NAME like #{nameLike,jdbcType=VARCHAR}
	</if>			
	<if test="type != null and type != ''.toString() ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>					
  </select>  
  
  <insert id="insert" parameterType="org.qifu.hillfog.entity.HfPdcaItem"> 
    insert into <include refid="org.qifu.hillfog.mapper.DB1Config.schema"/>hf_pdca_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="pdcaOid != null">
        PDCA_OID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="parentOid != null">
        PARENT_OID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="pdcaOid != null">
        #{pdcaOid,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="parentOid != null">
        #{parentOid,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.hillfog.entity.HfPdcaItem">
    update <include refid="org.qifu.hillfog.mapper.DB1Config.schema"/>hf_pdca_item
    <set>
      <if test="pdcaOid != null">
        PDCA_OID = #{pdcaOid,jdbcType=CHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="parentOid != null">
        PARENT_OID = #{parentOid,jdbcType=CHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <!--  
      <if test="cuserid != null">
        CUSERID = #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      -->
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.hillfog.entity.HfPdcaItem">
    delete from <include refid="org.qifu.hillfog.mapper.DB1Config.schema"/>hf_pdca_item
    where OID = #{oid,jdbcType=CHAR}
  </delete>
  
</mapper>