<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.core.mapper.TbSysExprJobLogMapper">

  <resultMap id="BaseResultMap" type="org.qifu.core.entity.TbSysExprJobLog">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LOG_STATUS" jdbcType="VARCHAR" property="logStatus" />
    <result column="BEGIN_DATETIME" jdbcType="TIMESTAMP" property="beginDatetime" />
    <result column="END_DATETIME" jdbcType="TIMESTAMP" property="endDatetime" />
    <result column="FAULT_MSG" jdbcType="VARCHAR" property="faultMsg" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expr_job_log
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expr_job_log
    WHERE 1=1
	<if test="id != null and id != ''.toString() ">
		AND ID = #{id,jdbcType=VARCHAR}
	</if>
	<if test="logStatus != null and logStatus != ''.toString() ">
		AND LOG_STATUS = #{logStatus,jdbcType=VARCHAR}
	</if>			
	<if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
		ORDER BY  ${orderBy} ${sortType}
	</if>	
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expr_job_log
    WHERE 1=1
	<if test="id != null and id != ''.toString() ">
		AND ID = #{id,jdbcType=VARCHAR}
	</if>
	<if test="logStatus != null and logStatus != ''.toString() ">
		AND LOG_STATUS = #{logStatus,jdbcType=VARCHAR}
	</if>		
		
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expr_job_log
    WHERE 1=1
	<if test="id != null and id != ''.toString() ">
		AND ID = #{id,jdbcType=VARCHAR}
	</if>
	<if test="logStatus != null and logStatus != ''.toString() ">
		AND LOG_STATUS = #{logStatus,jdbcType=VARCHAR}
	</if>		
  </select>  
  
  <insert id="insert" parameterType="org.qifu.core.entity.TbSysExprJobLog"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expr_job_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="id != null">
        ID,
      </if>
      <if test="logStatus != null">
        LOG_STATUS,
      </if>
      <if test="beginDatetime != null">
        BEGIN_DATETIME,
      </if>
      <if test="endDatetime != null">
        END_DATETIME,
      </if>
      <if test="faultMsg != null">
        FAULT_MSG,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="logStatus != null">
        #{logStatus,jdbcType=VARCHAR},
      </if>
      <if test="beginDatetime != null">
        #{beginDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDatetime != null">
        #{endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="faultMsg != null">
        #{faultMsg,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.core.entity.TbSysExprJobLog">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expr_job_log
    <set>
      <if test="id != null">
        ID = #{id,jdbcType=VARCHAR},
      </if>
      <if test="logStatus != null">
        LOG_STATUS = #{logStatus,jdbcType=VARCHAR},
      </if>
      <if test="beginDatetime != null">
        BEGIN_DATETIME = #{beginDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDatetime != null">
        END_DATETIME = #{endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="faultMsg != null">
        FAULT_MSG = #{faultMsg,jdbcType=VARCHAR},
      </if>
      <!--  
      <if test="cuserid != null">
        CUSERID = #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      -->
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.core.entity.TbSysExprJobLog">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expr_job_log
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
  <delete id="deleteAll" parameterType="java.util.HashMap">
  	delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expr_job_log
  </delete>
  
</mapper>