<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.core.mapper.TbSysUploadMapper">

  <resultMap id="BaseResultMap" type="org.qifu.core.entity.TbSysUpload">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="SYSTEM" jdbcType="VARCHAR" property="system" />
    <result column="SUB_DIR" jdbcType="VARCHAR" property="subDir" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="SHOW_NAME" jdbcType="VARCHAR" property="showName" />
    <result column="IS_FILE" jdbcType="VARCHAR" property="isFile" />
    <result column="CONTENT" jdbcType="LONGVARBINARY" property="content" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <!-- no CONTENT field for query , because sometime no need use this field, maybe field byte is big -->
  <resultMap id="SimpleBaseResultMap" type="org.qifu.core.entity.TbSysUpload">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="SYSTEM" jdbcType="VARCHAR" property="system" />
    <result column="SUB_DIR" jdbcType="VARCHAR" property="subDir" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="SHOW_NAME" jdbcType="VARCHAR" property="showName" />
    <result column="IS_FILE" jdbcType="VARCHAR" property="isFile" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_upload
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_upload
    WHERE 1=1
	<if test="oid != null and oid != ''.toString() ">
		AND OID = #{oid,jdbcType=CHAR}
	</if>        
	<if test="system != null and system != ''.toString() ">
		AND SYSTEM = #{system,jdbcType=VARCHAR}
	</if>
	<if test="subDir != null and subDir != ''.toString() ">
		AND SUB_DIR = #{subDir,jdbcType=VARCHAR}
	</if>	
	<if test="type != null and type != ''.toString() ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>			
	<if test="isFile != null and isFile != ''.toString() ">
		AND IS_FILE = #{isFile,jdbcType=VARCHAR}
	</if>		
	<if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
		ORDER BY  ${orderBy} ${sortType}
	</if>	
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_upload
    WHERE 1=1
	<if test="oid != null and oid != ''.toString() ">
		AND OID = #{oid,jdbcType=CHAR}
	</if>        
	<if test="system != null and system != ''.toString() ">
		AND SYSTEM = #{system,jdbcType=VARCHAR}
	</if>
	<if test="subDir != null and subDir != ''.toString() ">
		AND SUB_DIR = #{subDir,jdbcType=VARCHAR}
	</if>	
	<if test="type != null and type != ''.toString() ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>		
	<if test="isFile != null and isFile != ''.toString() ">
		AND IS_FILE = #{isFile,jdbcType=VARCHAR}
	</if>		
			
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_upload
    WHERE 1=1
	<if test="oid != null and oid != ''.toString() ">
		AND OID = #{oid,jdbcType=CHAR}
	</if>    
	<if test="system != null and system != ''.toString() ">
		AND SYSTEM = #{system,jdbcType=VARCHAR}
	</if>
	<if test="subDir != null and subDir != ''.toString() ">
		AND SUB_DIR = #{subDir,jdbcType=VARCHAR}
	</if>	
	<if test="type != null and type != ''.toString() ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>		
	<if test="isFile != null and isFile != ''.toString() ">
		AND IS_FILE = #{isFile,jdbcType=VARCHAR}
	</if>			
  </select>  
  
  <insert id="insert" parameterType="org.qifu.core.entity.TbSysUpload"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_upload
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="system != null">
        SYSTEM,
      </if>
      <if test="subDir != null">
        SUB_DIR,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="showName != null">
        SHOW_NAME,
      </if>
      <if test="isFile != null">
        IS_FILE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>      
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="subDir != null">
        #{subDir,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null">
        #{showName,jdbcType=VARCHAR},
      </if>
      <if test="isFile != null">
        #{isFile,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARBINARY},
      </if>      
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.core.entity.TbSysUpload">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_upload
    <set>
      <if test="system != null">
        SYSTEM = #{system,jdbcType=VARCHAR},
      </if>
      <if test="subDir != null">
        SUB_DIR = #{subDir,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="showName != null">
        SHOW_NAME = #{showName,jdbcType=VARCHAR},
      </if>
      <if test="isFile != null">
        IS_FILE = #{isFile,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=LONGVARBINARY},
      </if>      
      <!--  
      <if test="cuserid != null">
        CUSERID = #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      -->
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.core.entity.TbSysUpload">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_upload
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
  <!-- no CONTENT field for query , because sometime no need use this field, maybe field byte is big -->
  <select id="selectByPrimaryKeySimple" parameterType="java.lang.String" resultMap="SimpleBaseResultMap">
    select
		OID,
		SYSTEM,
		SUB_DIR,
		TYPE,
		FILE_NAME,
		SHOW_NAME,
		IS_FILE,
		CUSERID,
		CDATE,
		UUSERID,
		UDATE
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_upload
    where OID = #{oid,jdbcType=CHAR}
  </select>    
  
  <!-- 刪除 IS_FILE='N' && CONTENT 欄位放byte 類別為暫存的資料 -->
  <delete id="deleteTmpContentBySystem" parameterType="java.util.HashMap">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_upload
    where SYSTEM = #{system,jdbcType=VARCHAR}
    and TYPE = #{type,jdbcType=VARCHAR}
    and IS_FILE = #{isFile,jdbcType=VARCHAR}
  </delete>   
  
</mapper>