<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.core.mapper.TbSysTemplateMapper">

  <resultMap id="BaseResultMap" type="org.qifu.core.entity.TbSysTemplate">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="TEMPLATE_ID" jdbcType="VARCHAR" property="templateId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="MESSAGE" jdbcType="VARCHAR" property="message" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_template
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_template
    WHERE 1=1
	<if test="templateId != null and templateId != ''.toString() ">
		AND TEMPLATE_ID = #{templateId,jdbcType=VARCHAR}
	</if>	
	<if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
		ORDER BY  ${orderBy} ${sortType}
	</if>	
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_template
    WHERE 1=1
	<if test="templateId != null and templateId != ''.toString() ">
		AND TEMPLATE_ID = #{templateId,jdbcType=VARCHAR}
	</if>
	<if test="title != null and title != ''.toString() ">
		AND TITLE LIKE #{title,jdbcType=VARCHAR}
	</if>	
			
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_template
    WHERE 1=1
	<if test="templateId != null and templateId != ''.toString() ">
		AND TEMPLATE_ID = #{templateId,jdbcType=VARCHAR}
	</if>	
	<if test="title != null and title != ''.toString() ">
		AND TITLE LIKE #{title,jdbcType=VARCHAR}
	</if>		
  </select>  
  
  <insert id="insert" parameterType="org.qifu.core.entity.TbSysTemplate"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="templateId != null">
        TEMPLATE_ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="message != null">
        MESSAGE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.core.entity.TbSysTemplate">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_template
    <set>
      <if test="templateId != null">
        TEMPLATE_ID = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <!--  
      <if test="cuserid != null">
        CUSERID = #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      -->
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.core.entity.TbSysTemplate">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_template
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
</mapper>