<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.core.mapper.TbSysExpressionMapper">

  <resultMap id="BaseResultMap" type="org.qifu.core.entity.TbSysExpression">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="EXPR_ID" jdbcType="VARCHAR" property="exprId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <!-- no CONTENT field for query , because sometime no need use this field, maybe field byte is big -->
  <resultMap id="SimpleBaseResultMap" type="org.qifu.core.entity.TbSysExpression">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="EXPR_ID" jdbcType="VARCHAR" property="exprId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    WHERE 1=1
	<if test="exprId != null and exprId != '' ">
		AND EXPR_ID = #{exprId,jdbcType=VARCHAR}
	</if>
	<if test="type != null and type != '' ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>
	<if test="name != null and name != '' ">
		AND NAME = #{name,jdbcType=VARCHAR}
	</if>				
	<if test="orderBy != null and orderBy != '' and sortType != null and sortType != '' ">
		ORDER BY  ${orderBy} ${sortType}
	</if>	
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    WHERE 1=1
	<if test="exprId != null and exprId != '' ">
		AND EXPR_ID = #{exprId,jdbcType=VARCHAR}
	</if>
	<if test="type != null and type != '' ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>
	<if test="name != null and name != '' ">
		AND NAME = #{name,jdbcType=VARCHAR}
	</if>
		
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    WHERE 1=1
	<if test="exprId != null and exprId != '' ">
		AND EXPR_ID = #{exprId,jdbcType=VARCHAR}
	</if>
	<if test="type != null and type != '' ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>
	<if test="name != null and name != '' ">
		AND NAME = #{name,jdbcType=VARCHAR}
	</if>
  </select>  
  
  <insert id="insert" parameterType="org.qifu.core.entity.TbSysExpression"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="exprId != null">
        EXPR_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="exprId != null">
        #{exprId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.core.entity.TbSysExpression">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    <set>
      <if test="exprId != null">
        EXPR_ID = #{exprId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <!--  
      <if test="cuserid != null">
        CUSERID = #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      -->
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.core.entity.TbSysExpression">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
  <!-- no CONTENT field for query , because sometime no need use this field, maybe field byte is big -->
  <select id="selectListByParamsSimple" parameterType="java.util.HashMap" resultMap="SimpleBaseResultMap">
    select
	    OID,
	    EXPR_ID,
	    TYPE,
	    NAME,
	    DESCRIPTION,
	    CUSERID,
	    CDATE,
	    UUSERID,
	    UDATE    
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    WHERE 1=1
	<if test="exprId != null and exprId != '' ">
		AND EXPR_ID = #{exprId,jdbcType=VARCHAR}
	</if>
	<if test="type != null and type != '' ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>
	<if test="name != null and name != '' ">
		AND NAME = #{name,jdbcType=VARCHAR}
	</if>				
	<if test="orderBy != null and orderBy != '' and sortType != null and sortType != '' ">
		ORDER BY  ${orderBy} ${sortType}
	</if>	
  </select>   
  
  <select id="countPageSimple" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    WHERE 1=1
	<if test="exprId != null and exprId != '' ">
		AND EXPR_ID = #{exprId,jdbcType=VARCHAR}
	</if>
	<if test="type != null and type != '' ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>
	<if test="name != null and name != '' ">
		AND NAME LIKE #{name,jdbcType=VARCHAR}
	</if>
  </select>    
  
  <!-- no CONTENT field for query , because sometime no need use this field, maybe field byte is big -->
  <select id="findPageSimple" parameterType="java.util.HashMap" resultMap="SimpleBaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select
	    OID,
	    EXPR_ID,
	    TYPE,
	    NAME,
	    DESCRIPTION,
	    CUSERID,
	    CDATE,
	    UUSERID,
	    UDATE     
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_expression
    WHERE 1=1
	<if test="exprId != null and exprId != '' ">
		AND EXPR_ID = #{exprId,jdbcType=VARCHAR}
	</if>
	<if test="type != null and type != '' ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>
	<if test="name != null and name != '' ">
		AND NAME LIKE #{name,jdbcType=VARCHAR}
	</if>
		
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>    
  
</mapper>