<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.core.mapper.TbSysCodeMapper">

  <resultMap id="BaseResultMap" type="org.qifu.core.entity.TbSysCode">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PARAM1" jdbcType="VARCHAR" property="param1" />
    <result column="PARAM2" jdbcType="VARCHAR" property="param2" />
    <result column="PARAM3" jdbcType="VARCHAR" property="param3" />
    <result column="PARAM4" jdbcType="VARCHAR" property="param4" />
    <result column="PARAM5" jdbcType="VARCHAR" property="param5" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_code
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_code
    WHERE 1=1
	<if test="code != null and code != ''.toString() ">
		AND CODE = #{code,jdbcType=VARCHAR}
	</if>
	<if test="type != null and type != ''.toString() ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>			
	<if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
		ORDER BY  ${orderBy} ${sortType}
	</if>	
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_code
    WHERE 1=1
	<if test="code != null and code != ''.toString() ">
		AND CODE = #{code,jdbcType=VARCHAR}
	</if>
	<if test="type != null and type != ''.toString() ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>	
		
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_code
    WHERE 1=1
	<if test="code != null and code != ''.toString() ">
		AND CODE = #{code,jdbcType=VARCHAR}
	</if>
	<if test="type != null and type != ''.toString() ">
		AND TYPE = #{type,jdbcType=VARCHAR}
	</if>		
  </select>  
  
  <insert id="insert" parameterType="org.qifu.core.entity.TbSysCode"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="param1 != null">
        PARAM1,
      </if>
      <if test="param2 != null">
        PARAM2,
      </if>
      <if test="param3 != null">
        PARAM3,
      </if>
      <if test="param4 != null">
        PARAM4,
      </if>
      <if test="param5 != null">
        PARAM5,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null">
        #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null">
        #{param5,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.core.entity.TbSysCode">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_code
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        PARAM1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        PARAM2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null">
        PARAM3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null">
        PARAM4 = #{param4,jdbcType=VARCHAR},
      </if>
      <if test="param5 != null">
        PARAM5 = #{param5,jdbcType=VARCHAR},
      </if>
      <!--  
      <if test="cuserid != null">
        CUSERID = #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      -->
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.core.entity.TbSysCode">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_code
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
</mapper>