<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.core.mapper.TbSysMailHelperMapper">

  <resultMap id="BaseResultMap" type="org.qifu.core.entity.TbSysMailHelper">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="MAIL_ID" jdbcType="VARCHAR" property="mailId" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="TEXT" jdbcType="LONGVARBINARY" property="text" />
    <result column="MAIL_FROM" jdbcType="VARCHAR" property="mailFrom" />
    <result column="MAIL_TO" jdbcType="VARCHAR" property="mailTo" />
    <result column="MAIL_CC" jdbcType="VARCHAR" property="mailCc" />
    <result column="MAIL_BCC" jdbcType="VARCHAR" property="mailBcc" />
    <result column="SUCCESS_FLAG" jdbcType="VARCHAR" property="successFlag" />
    <result column="SUCCESS_TIME" jdbcType="TIMESTAMP" property="successTime" />
    <result column="RETAIN_FLAG" jdbcType="VARCHAR" property="retainFlag" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_mail_helper
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_mail_helper
    WHERE 1=1
	<if test="mailId != null and mailId != '' ">
		AND MAIL_ID = #{mailId,jdbcType=VARCHAR}
	</if>	
	<if test="successFlag != null and successFlag != '' ">
		AND SUCCESS_FLAG = #{successFlag,jdbcType=VARCHAR}
	</if>	
	<if test="orderBy != null and orderBy != '' and sortType != null and sortType != '' ">
		ORDER BY  ${orderBy} ${sortType}
	</if>	
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_mail_helper
    WHERE 1=1
	<if test="mailId != null and mailId != '' ">
		AND MAIL_ID = #{mailId,jdbcType=VARCHAR}
	</if>	
	<if test="successFlag != null and successFlag != '' ">
		AND SUCCESS_FLAG = #{successFlag,jdbcType=VARCHAR}
	</if>	
		
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_mail_helper
    WHERE 1=1
	<if test="mailId != null and mailId != '' ">
		AND MAIL_ID = #{mailId,jdbcType=VARCHAR}
	</if>	
	<if test="successFlag != null and successFlag != '' ">
		AND SUCCESS_FLAG = #{successFlag,jdbcType=VARCHAR}
	</if>
  </select>  
  
  <insert id="insert" parameterType="org.qifu.core.entity.TbSysMailHelper"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_mail_helper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="mailId != null">
        MAIL_ID,
      </if>
      <if test="subject != null">
        SUBJECT,
      </if>
      <if test="text != null">
        TEXT,
      </if>      
      <if test="mailFrom != null">
        MAIL_FROM,
      </if>
      <if test="mailTo != null">
        MAIL_TO,
      </if>
      <if test="mailCc != null">
        MAIL_CC,
      </if>
      <if test="mailBcc != null">
        MAIL_BCC,
      </if>
      <if test="successFlag != null">
        SUCCESS_FLAG,
      </if>
      <if test="successTime != null">
        SUCCESS_TIME,
      </if>
      <if test="retainFlag != null">
        RETAIN_FLAG,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="mailId != null">
        #{mailId,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=LONGVARBINARY},
      </if>      
      <if test="mailFrom != null">
        #{mailFrom,jdbcType=VARCHAR},
      </if>
      <if test="mailTo != null">
        #{mailTo,jdbcType=VARCHAR},
      </if>
      <if test="mailCc != null">
        #{mailCc,jdbcType=VARCHAR},
      </if>
      <if test="mailBcc != null">
        #{mailBcc,jdbcType=VARCHAR},
      </if>
      <if test="successFlag != null">
        #{successFlag,jdbcType=VARCHAR},
      </if>
      <if test="successTime != null">
        #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retainFlag != null">
        #{retainFlag,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.core.entity.TbSysMailHelper">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_mail_helper
    <set>
      <if test="mailId != null">
        MAIL_ID = #{mailId,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        SUBJECT = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        TEXT = #{text,jdbcType=LONGVARBINARY},
      </if>      
      <if test="mailFrom != null">
        MAIL_FROM = #{mailFrom,jdbcType=VARCHAR},
      </if>
      <if test="mailTo != null">
        MAIL_TO = #{mailTo,jdbcType=VARCHAR},
      </if>
      <if test="mailCc != null">
        MAIL_CC = #{mailCc,jdbcType=VARCHAR},
      </if>
      <if test="mailBcc != null">
        MAIL_BCC = #{mailBcc,jdbcType=VARCHAR},
      </if>
      <if test="successFlag != null">
        SUCCESS_FLAG = #{successFlag,jdbcType=VARCHAR},
      </if>
      <if test="successTime != null">
        SUCCESS_TIME = #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retainFlag != null">
        RETAIN_FLAG = #{retainFlag,jdbcType=VARCHAR},
      </if>
      <!--  
      <if test="cuserid != null">
        CUSERID = #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      -->
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.core.entity.TbSysMailHelper">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_mail_helper
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
  <select id="findForMaxMailId" parameterType="java.util.HashMap" resultType="java.lang.String">
  	SELECT max(MAIL_ID) as MAIL_ID FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_mail_helper 
  	WHERE MAIL_ID LIKE #{mailId,jdbcType=VARCHAR} 
  </select>  
    
  <select id="findForJobList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	SELECT * FROM <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_mail_helper 
  	WHERE MAIL_ID LIKE #{mailId,jdbcType=VARCHAR} AND SUCCESS_FLAG = 'N' LIMIT 100
  </select>
  
</mapper>