<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.core.mapper.TbSysUsessMapper">

  <resultMap id="BaseResultMap" type="org.qifu.core.entity.TbSysUsess">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <id column="SESSION_ID" jdbcType="VARCHAR" property="sessionId" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="CURRENT_ID" jdbcType="VARCHAR" property="currentId" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_usess
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_usess
    WHERE 1=1
	<if test="sessionId != null and sessionId != '' ">
		AND SESSION_ID = #{sessionId,jdbcType=VARCHAR}
	</if>
	<if test="account != null and account != '' ">
		AND ACCOUNT = #{account,jdbcType=VARCHAR}
	</if>
	<if test="currentId != null and currentId != '' ">
		AND CURRENT_ID = #{currentId,jdbcType=VARCHAR}
	</if>	
	<if test="orderBy != null and orderBy != '' and sortType != null and sortType != '' ">
		ORDER BY  ${orderBy} ${sortType}
	</if>				
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_usess
    WHERE 1=1
	<if test="sessionId != null and sessionId != '' ">
		AND SESSION_ID = #{sessionId,jdbcType=VARCHAR}
	</if>
	<if test="account != null and account != '' ">
		AND ACCOUNT = #{account,jdbcType=VARCHAR}
	</if>
	<if test="currentId != null and currentId != '' ">
		AND CURRENT_ID = #{currentId,jdbcType=VARCHAR}
	</if>	
		
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_usess
    WHERE 1=1
	<if test="sessionId != null and sessionId != '' ">
		AND SESSION_ID = #{sessionId,jdbcType=VARCHAR}
	</if>
	<if test="account != null and account != '' ">
		AND ACCOUNT = #{account,jdbcType=VARCHAR}
	</if>
	<if test="currentId != null and currentId != '' ">
		AND CURRENT_ID = #{currentId,jdbcType=VARCHAR}
	</if>
  </select>  
  
  <insert id="insert" parameterType="org.qifu.core.entity.TbSysUsess"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_usess
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="sessionId != null">
        SESSION_ID,
      </if>
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="currentId != null">
        CURRENT_ID,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="currentId != null">
        #{currentId,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.core.entity.TbSysUsess">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_usess
    <set>
      <if test="account != null">
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="currentId != null">
        CURRENT_ID = #{currentId,jdbcType=VARCHAR},
      </if>
      <!-- 
      <if test="cuserid != null">
        CUSERID = #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
       -->
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.core.entity.TbSysUsess">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_sys_usess
    where OID = #{oid,jdbcType=CHAR}
  </delete>  
  
</mapper>